
@{
    Layout = null;
}

<div style="padding: 25px; margin-top: 100px; margin-bottom: 100px; margin-left: 200px; margin-right: 200px; height: auto; background: red; text-align: center;">@ViewBag.ToplamKategori</div>
<div style="padding: 25px; margin-top: 100px; margin-bottom: 100px; margin-left: 200px; margin-right: 200px; height: auto; background: blue; text-align: center;">@ViewBag.yb</div>
<div style="padding: 25px; margin-top: 100px; margin-bottom: 100px; margin-left: 200px; margin-right: 200px; height: auto; background:yellow; text-align: center;">@ViewBag.AharfliYazar</div>
<div style="padding: 25px; margin-top: 100px; margin-bottom: 100px; margin-left: 200px; margin-right: 200px; height: auto; background: green; text-align: center; ">@ViewBag.EnFazlaKategoriBaslik</div>
<div style="padding: 25px; margin-top: 100px; margin-bottom: 100px; margin-left: 200px; margin-right: 200px; height: auto; background: pink; text-align:center;" > @ViewBag.KategoriTrue</div>
